.main-layout {
  margin-top: 70px;
  display: flex;
  height: 100vh;
  background-color: var(--content-bg);
  overflow-y: auto;     
  overflow-x: hidden;

  padding-top: 0;    
}

main {
  margin-top: 70px; /* abaixo do header fixo */
  margin-left: 5%;
  margin-right: 5%;
}


.content-area {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
}

.container-xxl {
  margin-top: 85px; 
}

/* Responsividade */
@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }
}
