.main-layout {
  margin-top: 70px;
  display: flex;
  min-height: 100vh;
  background-color: var(--content-bg);
  padding-top: 170px;
}

main {
  margin-top: 70px; // mesma altura do header
}

.container-xxl {
  margin-top: 85px; 
}

.content-area {
  flex: 1;
  padding: 2rem;
  overflow-x: hidden;
}

/* Responsividade */
@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }
}
